*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    width: 70px;
}
.socialm{
    background-color: #ffc022;
}

.menu-letter{
   font-family: Aldrich, sans-serif !important;
   color: #211919;
   font-size: 20px; 
   font-weight: bold !important;
}

#hover:hover{
    color: #211919 !important;
    background-color: #ffffff !important;
}
#hover2:hover{
    background-color: #211919 !important;
    color: #ffffff !important;
}

/* ======================================================== */
button{
    outline: none;
    border: none;
}
.pagamento{
    width: 100vw;
    height: 80vh;
    display: flex;
    padding: 50px;
    background-color: #ffffff;
    justify-content: center;
    font-family: Aldrich, sans-serif;
    color: #211919;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
p{
    font-size: 15px !important;
    margin: 0 !important;
    margin-bottom: 9px !important;
}
.title img{
    width: 20px;
}
.carrinho{
    width: 50vw;
}
.vtotal{
    width: 40vw;
    padding-left: 30px;
    border-left: 1px solid #211919;
}
.produtos{
    display: flex;
    margin-bottom: 30px;
}
.produtos .image img{
    box-shadow: 0px 0px 10px rgb(41, 41, 41);
    width: 100px;
}
.produtos .image,
.produtos .count,
.produtos .total{
    display: block;
    margin-right: 20px;
    text-align: center;
}
.produtos .info{
    width: 20vw;
}
.produtos .count{
    width: 18vw;
}
.produtos .total{
    width: 12vw;
}
.count div,
.total div{
    text-align: center;
    border-bottom: 1px solid #211919;
}
.count .contador{
    border: none;
    padding: 10px;
}
.contador button{
    border-radius: 5px;
    width: 15%;
    margin: 0 !important;
    background-color: #ffc022;
    transition: 0.3s;
    
}
.contador button:hover{
    background-color: #cc9a1b;
}
.contador input{
    text-align: center;
    width: 60%;
    height: 25px;
}
.vtotal .pay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.vtotal div:nth-child(2){
    border-bottom: 1px solid #211919;
}
.vtotal .cupom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
.cupom .input-desc{
    display: flex;
    align-items: center;
    border: none !important;
}
.input-desc input{
    height: 30px;
    border: 1px solid #211919;
    width: 12vw;
    padding: 1px 8px;
    color: #575555;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.input-desc button{
    width: 8vw;
    padding: 4px 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    background-color: #211919;
    transition: 0.3s;
}
.input-desc button:hover{
    color: #211919;
    background-color: #ffc022;
}

.finalizarcompra{
    display: flex;
    align-items: center;
    justify-content: center;
}
.finalizarcompra .cancela{
background-color: #211919;
color: #ffffff;
font-size: 15px;
padding: 5px 10px;
margin-right: 10px;
border-radius: 5px;
}
.finalizarcompra .cancela:hover{
    background-color: #ff3c22;
    color: #ffffff;
}
.finalizarcompra .finaliza{
    background-color: #ffc022;
    color: #211919;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.finalizarcompra .finaliza:hover{
    background-color: rgb(49, 221, 14);
    color: #211919;
}

@media (max-width: 990px){
    .carrinho, 
    .vtotal{
        width: 80vw;
    }
    .vtotal{
        border-left: none;
        border-top: 1px solid #211919;
        padding: 0;
        padding-top: 50px;
    }
    .vtotal .cupom{
        margin: 15px 0px;
    }
    .pagamento{
        display: block;
    }
    .input-desc input{
        width: 20vw;
    }
    .title{
        display: flex;
        justify-content: center;
    }
    .contador input{
        width: 7vw;
    }
}